<button (click)="buttonClick('part1')">Goto Part1</button>
<button (click)="buttonClick('part2')">Goto Part2</button>
<button (click)="buttonClick('part3')">Goto Part3</button>

<div id="part1" style="width: 80%">
  <div>part1</div>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur
    itaque quas excepturi omnis. Quam nesciunt repudiandae accusantium fuga,
    fugiat voluptas, voluptate unde pariatur est explicabo expedita qui tempore,
    saepe quas!
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur
    itaque quas excepturi omnis. Quam nesciunt repudiandae accusantium fuga,
    fugiat voluptas, voluptate unde pariatur est explicabo expedita qui tempore,
    saepe quas!
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur
    itaque quas excepturi omnis. Quam nesciunt repudiandae accusantium fuga,
    fugiat voluptas, voluptate unde pariatur est explicabo expedita qui tempore,
    saepe quas!
  </p>
</div>

<div id="part2" style="width: 80%">
  <div>part2</div>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur
    itaque quas excepturi omnis. Quam nesciunt repudiandae accusantium fuga,
    fugiat voluptas, voluptate unde pariatur est explicabo expedita qui tempore,
    saepe quas!
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur
    itaque quas excepturi omnis. Quam nesciunt repudiandae accusantium fuga,
    fugiat voluptas, voluptate unde pariatur est explicabo expedita qui tempore,
    saepe quas!
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur
    itaque quas excepturi omnis. Quam nesciunt repudiandae accusantium fuga,
    fugiat voluptas, voluptate unde pariatur est explicabo expedita qui tempore,
    saepe quas!
  </p>
</div>

<div id="part3" style="width: 80%">
  <div>part3</div>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur
    itaque quas excepturi omnis. Quam nesciunt repudiandae accusantium fuga,
    fugiat voluptas, voluptate unde pariatur est explicabo expedita qui tempore,
    saepe quas!
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur
    itaque quas excepturi omnis. Quam nesciunt repudiandae accusantium fuga,
    fugiat voluptas, voluptate unde pariatur est explicabo expedita qui tempore,
    saepe quas!
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur
    itaque quas excepturi omnis. Quam nesciunt repudiandae accusantium fuga,
    fugiat voluptas, voluptate unde pariatur est explicabo expedita qui tempore,
    saepe quas!
  </p>
</div>
